<%= image_tag 'circle-logo.svg', class: 'bug' %>

<div class="area-2">

</div>

<div class="area-1 lazy-loaded ">
    David designed his <a href="/">first logo</a> at the tender age of 12. On a Power Mac IIc, in Helvetica bold. Many years later, he (and his computer) have come along way <a href="/">technically</a>, and <a href="/">professionally</a>. But he still has an affinity for Helvetica Bold, as well as clean, focused design solutions. Solutions that will add value to your brand and/or project. His integrated services include Art Direction, Brand Strategy, and digital development.
</div>

<div class="area-2">
  
</div>
